<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li th:each="product : ${products}" th:text="${product.name}"></li>
    </ul>
    <h1>Product List</h1>
    <table>
        <tr>
            <th>상품아이디</th>
            <th>상품명</th>
            <th>상품가격</th>
        </tr>
        <tr th:each="product:${products}">
            <td th:text="${product.num}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
        </tr>
    </table>
</body>
</html>